body {
  font-size: 15pt;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
}

input {
  margin-bottom: 50px;
  width: 200px;
  height: 30px;
  padding-left: 10px;
  font-size: 12pt;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
  border-radius: 10px;
}

button {
  height: 36px;
  width: 70px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 13pt;
}

div {
  width: 90%;
  display: flex;
  justify-content: center;
}

.someDiv {
  height: 30px;
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.someDiv p {
  color: black;
  width: 30%;
  font-weight: bold;
  font-size: 18pt;
  margin: 0px;
  margin-right: 15px;
}

ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
}

li {
  display: flex;
  align-items: center;
  width: 50%;
}
li:hover {
  cursor: pointer;
}

span {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

p {
  cursor: pointer;
}

.markAsDone {
  background-color: aquamarine;
}

.remove {
  display: none;
}

@media screen and (min-width: 1000px) {
  input {
    width: 300px;
  }

  div {
    width: 50%;
  }

  .someDiv {
    width: 50%;
  }
  .someDiv p {
    margin-right: 0px;
  }
}